<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='/css/styles.css'
    rel="stylesheet" type="text/css">
    <title>Registrate</title>
</head>

<body>
    <%- include('partials/headerNavbar') %>
        <main>
            <h1>Ingreso a tu cuenta</h1>
            <form action="/login" method="POST">                
                <div>
                    <input type="email" required name="email" placeholder="Email"></input>
                </div>
                <div>
                    <input type="password" required name="password" placeholder="Ingrese su password"></input>
                </div>
                <div> <button type="submit">Enviar</button> <button type="reset">Borrar</button> </div>
                <% if (locals.errors) { %>
                 <p> aassaddassadasd</p>
                    <% } %>
            </form>
        </main>
</body>

</html>