<!DOCTYPE html>
<html>

<head>
    <title>findMyPet</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWhXxfT0fS3H6QYCOLGSE-QHzeKVWG1Y0&callback=initMap">
        </script>
    <link href='/css/styles.css' rel="stylesheet" type="text/css">


</head>

<body>
    <header>
        <nav>
            <div class="container-nav">
                <ul class="ul">
                    <li class="nvLink"><a class="a-header" href="/newPet">Agregar una mascota</a></li>
                    <li class="nvLink"><a class="a-header" href="/adoption">Dar en adopcion una mascota</a></li>
                    <li class="nvLink"><a class="a-header" href="/profile">Mi perfil</a></li>
                    <li class="nvLink"><a class="a-header" href="/logout">Salir</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
    </main>
    <div id="map"></div>



    <script src="/js/geo.js"> <p> a </p></script>

</body>

</html>