<header>
    <nav>
        <div class="container-nav">
            <ul class="ul-derecha">
                <li class="hijos-ul-derecha"><a class="a-header" href="#">AGREGAR PERFIL DE MASCOTA</a></li>
                <li class="hijos-ul-derecha"><a class="a-header" href="#">ENCONTRE UNA MASCOTA</a></li>              
                <li class="hijos-ul-derecha"><a class="a-header" href="#">AYUDA</a></li>
            </ul>
        </div>
    </nav>
</header>